DATABASE_URL="postgresql://postgres:yourpassword@localhost:5432/gym_app?schema=public"
JWT_SECRET="change-this-to-a-random-secret-at-least-32-chars"
PORT=5000
FRONTEND_URL="http://localhost:5173"
GYM_NAME="FitZone Gym"
